// *************************************
//
//   Whats the name of this file?
//   -> What goes in this file?
//
// *************************************

.credits {
  background: #FFF;
  color: #777;
  padding: 5% 8%;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: #777;
  }
}

.credits-left {
  float: left;
}

.credits-right {
  float: right;
}

.tothetop:hover {
  cursor: pointer;
}

img#wpstats {
  display: none;
}